<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>我的心分外地寂寞</string>
	<string>然而我的心很平安；没有爱憎，没有哀乐，也没有颜色和声音</string>
	<string>我大概老了</string>
	<string>我的头发已经苍白，不是很明白的事么？我的手颤抖着，不是很明白的事么？那么我的灵魂的手一定也颤抖着，头发也一定苍白了</string>
	<string>然而这是许多年前的事了</string>
	<string>这以前，我的心也曾充满过血腥的歌声：血和铁，火焰和毒，恢复和报仇。而忽然这些都空虚了，但有时故意地填以没奈何的自欺的希望。希望，希望，用这希望的盾，抗拒那空虚中的暗夜的袭来，虽然盾后面也依然是空虚中的暗夜。然而就是如此，陆续地耗尽了我的青春。</string>
	<string>我早先岂不知我的青春已经逝去？但以为身外的青春固在：星，月光，僵坠的蝴蝶，暗中的花，猫头鹰的不祥之言，杜鹃的啼血，笑的渺茫，爱的翔舞。……虽然是悲凉漂渺的青春罢，然而究竟是青春。</string>
	<string>然而现在何以如此寂寞？难道连身外的青春也都逝去，世上的青年也多衰老了么？</string>
	<string>我只得由我来肉薄这空虚中的暗夜了。我放下了希望之盾，我听到Petofi Sandor (1823-49)的“希望”之歌：</string>
	<string>希望是什么？是娼妓：</string>
	<string>她对谁都蛊惑，将一切都献给；</string>
	<string>待你牺牲了极多的宝贝——</string>
	<string>你的青春——她就抛弃你</string>
	<string>这伟大的抒情诗人，匈牙利的爱国者，为了祖国而死在可萨克兵的矛尖上，已经七十五年了。悲哉死也，然而更可悲的是他的诗至今没有死。</string>
	<string>但是，可惨的人生！桀骜英勇如Petofi，也终于对了暗夜止步，回顾茫茫的东方了。</string>
	<string>他说：绝望之为虚妄，正与希望相同</string>
	<string>绝望之为虚妄，正与希望相同</string>
	<string>倘使我还得偷生在不明不暗的这“虚妄”中，我就还要寻求那逝去的悲凉漂渺的青春，但不妨在我的身外。因为身外的青春倘一消灭，我身中的迟暮也即凋零了。</string>
	<string>然而现在没有星和月光，没有僵坠的蝴蝶以至笑的渺茫，爱的翔舞。然而青年们很平安。</string>
	<string>我只得由我来肉薄这空虚中的暗夜了，纵使寻不到身外的青春，也总得自己来一掷我身中的迟暮。但暗夜又在那里呢？现在没有星，没有月光以至没有笑的渺茫和爱的翔舞；青年们很平安，而我的面前又竟至于并且没有真的暗夜。</string>
	<string>绝望之为虚妄，正与希望相同！</string>
	<string>死火</string>
	<string>梦见自己在冰山间奔驰。</string>
	<string>这是高大的冰山，上接冰天，天上冻云弥漫，片片如鱼鳞模样。山麓有冰树林，枝叶都如松杉。一切冰冷，一切青白。</string>
	<string>但我忽然坠在冰谷中。</string>
	<string>上下四旁无不冰冷，青白。而一切青白冰上，却有红影无数，纠结如珊瑚网。我俯看脚下，有火焰在。</string>
	<string>这是死火。有炎炎的形，但毫不摇动，全体冰结，象珊瑚枝;尖端还有凝固的黑烟，疑这才从火宅中出，所以枯焦。这样，映在冰的四壁，而且互相反映，化成无量数影，使这冰谷，成红珊瑚色。</string>
	<string>哈哈!</string>
	<string>当我幼小的时候，本就看快舰激起的浪花，洪炉喷出的烈焰。不但爱看，还想看清。可惜他们都息息变幻，永无定形。虽然凝视又凝视，总不留下怎样一定的迹象。</string>
	<string>死的火焰，现在先得到了你了!</string>
	<string>我拾起死火，正要细看，那冷气已使我的指头焦灼;但是，我还熬着，将他塞入衣袋中间。冰谷四面，登时完全青白。我一面思索着走出冰谷的法子。</string>
	<string>我的身上喷出一缕黑烟，上升如铁线蛇。冰谷四面，又登时满有红焰流动，如大火聚，将我包围。我低头一看，死火已经燃烧，烧穿了我的衣裳，流在冰地上了。</string>
	<string>“唉，朋友!你用了你的温热，将我惊醒了。”他说。</string>
	<string>我连忙和他招呼，问他名姓。</string>
	<string>“我原先被人遗弃在冰谷中，”他答非所问地说，“遗弃我的早已灭亡，消尽了。我也被冰冻冻得要死。倘使你不给我温热，使我重行烧起，我不久就须灭亡。”</string>
	<string>“你的醒来，使我欢喜。我正在想着走出冰谷的方法;我愿意携带你去，使你永不冰结，永得燃烧。”</string>
	<string>“唉唉!那么，我将烧完!”</string>
	<string>“你的烧完，使我惋惜。我便将你留下，仍在这里罢。”</string>
	<string>“唉唉!那么，我将冻灭了!”</string>
	<string>“那么，怎么办呢?”</string>
	<string>“但你自己，又怎么办呢?”他反而问。</string>
	<string>“我说过了：我要出这冰谷……”</string>
	<string>“那我就不如烧完!”</string>
	<string>他忽而跃起，如红慧星，并我都出冰谷口外。有大石车突然驰来，我终于碾死在车轮底下，但我还来得及看见那车坠入冰谷中。</string>
	<string>“哈哈!你们是再也遇不着死火了!”我得意地笑着说，仿佛就愿意这样似的。</string>
	<string>一九二五年四月二十三日</string>
</array>
</plist>
